@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Cousine&display=swap");
@font-face {
  font-family: "font-title-medium";
  src: url("/fonts/font-title-medium.woff") format("woff"),
    url("/fonts/font-title-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font-body-55rg";
  src: url("/fonts/font-body-55rg.woff2") format("woff2"),
    url("/fonts/font-body-55rg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
