/* prettier-ignore */
:root {
  --fg:#ffffff;
  --bg:#000000;
  --accent:#ff0000;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body {
  font-family: font-body-55rg, sans-serif;
  margin: 0;
  padding: var(--p-6);
  background: var(--bg);
  color: var(--fg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font-title-medium, sans-serif;
}
pre,
code {
  font-family: "Azeret Mono", monospace;
}
