/* prettier-ignore */
:root {
  --fg:#ffffff;
  --bg:#000000;
  --accent:#ff0000;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
  padding: var(--p-4);
  background: var(--bg);
  color: var(--fg);
}
